<div class="container">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">

    <div class="jumbotron">
      <h1><%= @user.name %></h1>
      <p><%= @user.about %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">See projects</a></p>
    </div>

    <% @user.projects.each do |p| %>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="http://i.imgur.com/VZ1LS8n.png" alt="...">
                  <div class="caption">
                    <h3><%= p.title %></h3>
                    <p><%= p.description %></p>
                    <p><a href="#" class="btn btn-primary" role="button">Live link</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
            </div>
            
    <% end %>


<!-- 
    <h1><%= @user.name %></h1>
    <div class="text-xs-left">
        <p><%= @user.about %></p>
    </div>
    <% @user.projects.each do |p| %>
            <h3><%= link_to p.title, user_project_path(@user, p.id)%></h3>
    <% end %> -->
</div>
<div class="container">
    <hr>
    <%= link_to 'Add A Project', new_user_project_path(@user) %>
    <hr>
</div>
