<div class="container">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">

    <div class="jumbotron">
        <h1><%= @user.name %></h1>
        <p><%= @user.about %></p>
    </div>

    <% @user.projects.each do |p| %>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h3><%= p.title %></h3>
                    <p><%= p.description %></p>
                    <p><a href=<%= p.github %> class="btn btn-primary" role="button">Github</a> </p>
                    <%= link_to "See project", project_path(p.id)%>
                    <hr>
                  </div>
                </div>
              </div>
            </div>

    <% end %>

</div>
<div class="container">
    <hr>
    <%= link_to 'Add A Project', new_user_project_path(@user) %>
    <hr>
</div>
