<div class="container">
    <div class="jumbotron">

      <h1><%= @user.name %></h1>
      <h2><%= @user.about %></h2>

    </div>

    <div style="width: 100%;">
    <% @user.projects.each do |p| %>
        
        
        <div style="display: inline-block; width: 33%; height: 43%; background-color: #fbebe1">
       <div style="position: relative; width: 100%, height: 100%; margin: auto">
       <div class="row" style="text-align: center;">
        <div style= "width: 80%; height: 80%; margin: auto; margin-top: 3em;">
          <div class="thumbnail">
              <!-- replace image link with link to uploaded img -->
            <!-- <img src="http://i.imgur.com/VZ1LS8n.png" alt="..."> -->
            <div class="caption">
              <a href="yoyo" class="title"><%= link_to p.title , project_path(p.id)%></a>
              <p> <%= p.description %></p>
              <p><a href=<%= p.github %> class="btn btn-primary" role="button">Github</a> </p>
              <hr>
            </div>
          </div>
        </div>
      </div>
       
       
       </div>
   </div>

    <% end %>
    </div>

</div>
<div class="container">
    <%= link_to 'Add A Project', new_user_project_path(@user) %>
    <hr>
</div>
