<div class="container">
    <div class="jumbotron">

      <h1><%= @user.name %></h1>
      <h2><%= @user.about %></h2>

    </div>

    <% @user.projects.each do |p| %>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <p class="title"><%= link_to p.title , project_path(p.id)%></p>
                    <p><%= p.description %></p>
                    <p><a href=<%= p.github %> class="btn btn-primary" role="button">Github</a> </p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>

    <% end %>

</div>
<div class="container">
    <hr>
    <%= link_to 'Add A Project', new_user_project_path(@user) %>
    <hr>
</div>
