<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="override.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Bungee|Open+Sans+Condensed:300|Oswald|Raleway|Roboto+Condensed|Slabo+27px|Space+Mono" rel="stylesheet">

<%= form_for [@user, @project], html: {multipart: true} do |p| %>
<div class="page-header">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
<!--             <form><input type="text" style="background-color: transparent; width: 500px; height: 100px; color: white; font-family: 'Bungee'; font-size: 50px;" placeholder=" Product title"></form>-->

             <div style="background-color: transparent; width: 500px; height: 100px; color: white; font-family: 'Bungee'; font-size: 50px;"><%= p.text_field :title, placeholder: " Product title" %></div>

             <hr>

<!--             <form><input type="text" style="background-color: transparent; width: 90%; height: 50px; color: #c0fdfb; font-family: 'Abel'; font-size: 22px;" placeholder=" Describe your product in one or two sentences"></form>-->

             <div style="background-color: transparent; width: 90%; height: 50px; color: #c0fdfb; font-family: 'Abel'; font-size: 22px;"><%= p.text_area :description, placeholder: "Overview" %></div>
        </div>

    </div>

<div class="leftContainer">
    <link rel="stylesheet" type="text/css" href="override.css">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Problem</h3>
      </div>

        <form><input type="text" style="background-color: transparent; width: 90%; height: 60px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px;" placeholder=" Describe the problem. Who experiences this problem? What data do you have to back your claims up?"></form>

    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Solution</h3>
      </div>
      <form><input type="text" style="background-color: transparent; width: 90%; height: 60px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px;" placeholder=" Describe how your product solves the problem. Are you asprin for a headache or morphine for a migraine?"></form>
    </div>


</div>



<div class="rightContainer">
    <link rel="stylesheet" type="text/css" href="override.css">
    <br>
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>

    <form><input type="text" style="background-color: transparent; width: 90%; height: 60px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px;" placeholder=" What can a user do?"></form>

    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology Used</h3>
      </div>
      <form><input type="text" style="background-color: transparent; width: 90%; height: 60px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px;" placeholder=" What frameworks, languages, libraries, and APIs did you use?"></form>
    </div>

</div>








<!--end-->
<div class= "container">
    <%= form_for [@user, @project], html: {multipart: true} do |p| %>
    <div class="form-group">
        <link rel="stylesheet" type="text/css" href="bootstrap.css">

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.text_field :title, placeholder: "Title" %>
          <!-- <input type="text" class="form-control" placeholder="Title of Project" aria-describedby="basic-addon1"> -->
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3"></span>
          <%= p.text_field :github, placeholder: "Live Link" %>
          <!-- <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Link to GitHub repository or live project"> -->
        </div>


        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <div class="test"><%= p.text_area :description, placeholder: "Overview" %></div>
          <!-- <input type="text" class="form-control" placeholder="Description of project" aria-describedby="basic-addon1"> -->
        </div>


        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.text_area :problem, placeholder: "What Is The Problem Your Project Solves" %>
          <!-- <input type="text" class="form-control" placeholder="Problem" aria-describedby="basic-addon1"> -->
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.text_area :solution, placeholder: "What Is Your Solution" %>

          <!-- <input type="text" class="form-control" placeholder="Solution" aria-describedby="basic-addon1"> -->
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.text_area :features, placeholder: "Features" %>
          <!-- <input type="text" class="form-control" placeholder="Features, seperated by commas" aria-describedby="basic-addon1"> -->
        </div>


        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.text_field :technology, placeholder: "Technologies" %>
          <!-- <input type="text" class="form-control" placeholder="Technologies used, seperated by commas" aria-describedby="basic-addon1"> -->
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <%= p.label :image %><br>
          <%= p.file_field :image %>
          <!-- <input type="text" class="form-control" placeholder="Technologies used, seperated by commas" aria-describedby="basic-addon1"> -->
        </div>


    </div>
    <div class="text-xs-left">
        <%= submit_tag "Submit", class: 'btn btn-default' %>
    </div>
    <% end %>
    <% end %>
</div>
