<%= form_for [@user, @project], html: {multipart: true} do |p| %>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= p.text_field :title, placeholder: " Product title", style: "background-color: transparent; width: 500px; height: 100px; color: white; font-family: 'Bungee'; font-size: 50px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
             <hr>
             <div ><%= p.text_area :description, size: "30x10", placeholder: " Describe your product in a few sentences", style:"background-color: transparent; width: 90%; height: 50px; color: #c0fdfb; font-family: 'Abel'; font-size: 22px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
        </div>
    </div>

    <div class="leftContainer">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
               <h3 class="panel-title">Problem</h3>
          </div>

            <div ><%= p.text_area :problem, placeholder: " Describe the problem. Who experiences this problem? What data do you have to back your claims up?", style:"background-color: transparent; width: 90%; height: 150px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px; border: none; border-left: 1px; border-left-style: solid; " %></div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
               <h3 class="panel-title">Solution</h3>
          </div>
          <div ><%= p.text_area :solution, placeholder: " Describe how your product solves the problem. Are you asprin for a headache or morphine for a migraine?", style:"background-color: transparent; width: 90%; height: 150px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px; border: none; border-left: 1px; border-left-style: solid;" %></div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
               <h3 class="panel-title">Images</h3>
          </div>
            <%= p.file_field :image, style:"width: 200px; height: 40px;" %>
        </div>
    </div>



    <div class="rightContainer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Project Link?</h3>
          </div>
            <div ><%= p.text_area :github, placeholder: " Optional Project link", style:"background-color: transparent; width: 90%; height: 50px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px; border: none; border-left: 1px; border-left-style: solid;" %></div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Technology Used</h3>
          </div>
            <div ><%= p.text_area :technology, placeholder: " Frameworks, libraries, languages, API, etc...", style:"background-color: transparent; width: 90%; height: 48px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px; border: none; border-left: 1px; border-left-style: solid;" %></div>
        </div>
        <hr>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Features</h3>
              </div>
            <div ><%= p.text_area :features, placeholder: " What can a user do?", style:"background-color: transparent; width: 90%; height: 210px; color: black; font-family: 'Open Sans Condensed'; font-size: 16px; border: none; border-left: 1px; border-left-style: solid;" %></div>
        </div>
        <%= p.submit "Submit", style: "width: 100%;" %>
    </div>
    <!-- <%= p.submit "Submit", style: "width: 100%;" %> -->
<% end %>
