<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="override.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Bungee|Open+Sans+Condensed:300|Oswald|Raleway|Roboto+Condensed|Slabo+27px|Space+Mono" rel="stylesheet"> 
<div class="page-header">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
            <h1 style="text-transform: uppercase;"> <%= @project.title %> </h1>
             <hr>
            <h3 class="desc"> <small> <%= @project.description %> </small></h3>
        </div>
      
    </div>

<div class="leftContainer">
    <link rel="stylesheet" type="text/css" href="override.css">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Problem</h3>
      </div>
      <div class="panel-body">
        <%= @project.problem %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Solution</h3>
      </div>
      <div class="panel-body">
        <%= @project.solution %>
      </div>
    </div>
    
    <%= image_tag @project.image.url{:medium} %>
    
</div>


<div class="rightContainer">
    <link rel="stylesheet" type="text/css" href="override.css">
    <br>
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <%= @project.features %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology Used</h3>
      </div>
      <div class="panel-body">
        <%= @project.technology %>
      </div>
    </div>

</div>

<br>
<%= link_to 'Edit Info', edit_project_path(@project), class:"btn btn-primary" %>
<br>
<br>
<%= link_to 'See Projects', user_projects_path(@current_user), class:"btn btn-primary" %>
