
<div class="page-header">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
            <h1 style="text-transform: uppercase;"> <%= @project.title %> </h1>
             <hr>
            <h3 class="desc"> <small> <%= @project.description %> </small></h3>
        </div>

    </div>

<div class="leftContainer">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Problem</h3>
      </div>
      <div class="panel-body">
        <%= @project.problem %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Solution</h3>
      </div>
      <div class="panel-body">
        <%= @project.solution %>
      </div>
    </div>
    <hr>
    <div class="panel-body">
    <h3 class="panel-title">Images</h3>
      <%= image_tag @project.image.url{:medium} %>
    </div>


</div>


<div class="rightContainer">
    <br>
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <div><%= @project.features %> </div>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology Used</h3>
      </div>
      <div class="panel-body">
        <%= @project.technology %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="button-title external-link-button" style= "margin: 35px 0px 0px 10px;"><%= link_to 'Visit Project', "http://#{@project.github}", target: "_blank"%></h3>
      </div>
    </div>
    <div class="panel panel-default bottom-button">
      <div class="panel-heading">
          <div class = "btn-container">
              <h3 class="button-title" style="display: inline-block; margin-right: 15px;"><%= link_to 'Edit Info', edit_project_path(@project)%></h3>
              <h3 class="button-title" style="display: inline-block;"><%= link_to 'See Projects', user_projects_path(@current_user) %>
          </div>

      </div>
    </div>
</div>
