<div class="container">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <div class="page-header">
      <h1> <%= p.title %> <small> <%= p.description %> </small></h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Problem</h3>
      </div>
      <div class="panel-body">
        <%= p.problem %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Solution</h3>
      </div>
      <div class="panel-body">
        <%= p.solution %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <%= p.features %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology Used</h3>
      </div>
      <div class="panel-body">
        <%= p.technology %>
      </div>
    </div>
    <!-- only display edit info if user is on their own content and signed in -->
    <%= link_to 'Edit Info', edit_project_path(@project) %>
</div>
