<div class="container">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <div class="page-header">
      <h1> <%= @project.title %></h1>
      <h3> <small> <%= @project.description %> </small></h3>
    </div>
    <hr>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Problem</h3>
      </div>
      <div class="panel-body">
        <%= @project.problem %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The Solution</h3>
      </div>
      <div class="panel-body">
        <%= @project.solution %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
      </div>
      <div class="panel-body">
        <%= @project.features %>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology Used</h3>
      </div>
      <div class="panel-body">
        <%= @project.technology %>
      </div>
    </div>
    <!-- only display edit info if user is on their own content and signed in -->
    <br>
    <%= link_to 'Edit Info', edit_project_path(@project), class:"btn btn-primary" %>
    <br>
    <br>
    <%= link_to 'See Projects', user_projects_path(@current_user), class:"btn btn-primary" %>
</div>
