<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Abel|Bungee|Open+Sans+Condensed:300|Oswald|Raleway|Roboto+Condensed|Slabo+27px|Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Bungee|Open+Sans+Condensed:300|Oswald|Raleway|Roboto+Condensed|Slabo+27px|Space+Mono" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <!-- <% if @current_user %>
            <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <h2 class="navbar-text panel-title"><%= @current_user.name %> </h2>
                    </div>
                    <div class="navbar-header">
                        <h2 class="navbar-text panel-title"> <%= link_to "Logout", '/logout'%></h2>
                    </div>
            </nav>
        <% else %>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <%= link_to 'Login', '/login', class:"navbar-brand"%>
                </div>
                <div class="navbar-header">
                    <%= link_to 'Signup', '/signup', class:"navbar-brand"%>
                </div>
            </nav>
        <% end %> -->
      <%= render 'flash_messages' %>
     <% if @current_user %>
          <p class="navbar-text login-signup-button">Signed in as <%= @current_user.name %> | <%= link_to "Logout", '/logout' %></p>
     <% else %>
         <div class= "login-signup-button"><%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %></div>
     <% end %>

     <%= yield %>

  </body>
</html>
